$duration-animation-0s: 0s;
$duration-animation-02s: 200ms;
$duration-animation-025s: 250ms;
$duration-animation-03s: 300ms;
$duration-animation-04s: 400ms;
$duration-animation-05s: 500ms;
$duration-animation-06s: 600ms;
$duration-animation-1s: 1s;
$duration-animation-1200ms: 1.2s;
$duration-animation-2000ms: 2s;
