@font-face {
  font-family: 'PT Mono';
  src: local('PT Mono'), local('PTMono-Regular'), url('@/assets/fonts/PTMono-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src: local('PT Mono Bold'), local('PTMono-Bold'), url('@/assets/fonts/PTMono-Bold.woff2') format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

$font-family-main: 'PT Mono', monospace;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

$font-style-normal: normal;
$font-style-italic: italic;
$font-style-oblique: oblique;
$font-style-inherit: inherit;
