$opacity-default: 1;
$opacity-09: 0.9;
$opacity-08: 0.8;
$opacity-07: 0.7;
$opacity-06: 0.6;
$opacity-05: 0.5;
$opacity-04: 0.4;
$opacity-03: 0.3;
$opacity-02: 0.2;
$opacity-01: 0.1;
$opacity-invisible: 0;
